<table mat-table [dataSource]="todolist" class="todo-list-table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- userId Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> USER ID </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- completed Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Completed </th>
    <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <button mat-stroked-button color="primary" (click)="OnCountCompleted()">Bilan</button>
</div>
